@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300&family=Gamja+Flower&display=swap');
* {
    margin: 0px;
    left: 0%;
    font-family: 'Exo 2', sans-serif;
}

body {
    background: #c31432;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffae01, #ffffff);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffae01, #bfff00);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    animation: body-animated 15s infinite ease-in-out;
    background-size: 400% 400%;
}



/* * CSS animado bakcground */

@keyframes body-animated {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

.txt-center {
    text-align: center;
}

.lienzo {
    border-radius: 10px;
    margin-left: 1% !important;
    background: rgba(0, 0, 0, 0.723);
    width: 98% !important;
    height: 85vh;
    position: relative;
}

.img {
    height: 4.30em;
    cursor: pointer;
    position: fixed;
    transition: all 0.5s;
}

.caja {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.caja>span,
p {
    font-size: 24px;
    font-weight: 900;
}
dialog{
    margin: auto;
    width: 50%;
    height: 15em;
    transition: 1s all;
    border: 0;
    background-color:rgba(255, 228, 196, 0.827);
    border-radius: 50px;
    text-align: center;
}
dialog::-webkit-scrollbar{
    width: 1em;
}
dialog::-webkit-scrollbar-thumb{
    background-color: darkgrey;
    outline: 1px solid slategrey;
}
.flex{
    box-sizing: border-box;
    margin-top: 2%;
    display: flex;
    align-content: space-between;
    padding: 2%;
    margin: 2%;
}
.col{
    flex: 1;
    flex-direction: column;
}
.flex>span{
    font-size: 1.5em;
    font-weight: 600;
}
.bg-yellow{
    background-color: #e1ff0045 !important;
}
.btn{
    background-color: #fff;
    width: 40%;
    padding: 1%;
    cursor: pointer;
    border: 0;
    transition: 0.5s;
    border-radius: 20px;
    margin: 1px;
}
.btn:hover{
    background-color: rgb(255, 174, 0);
    color: #fff;
}
.bg-puntaje{
    border-radius: 20px;
   background-color: #6ed6ff49; 
}
.container{
    width: 90%;
    margin: auto;
}
.justify-content-center{
    flex: 1;
    justify-content: center;
    align-items: center;
}